<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All images</h1>
    {{#if imageUrls.length}}
        {{#each imageUrls}}
            <div>
                <img src="{{this}}" alt="Uploaded images" style="max-width:300px; margin: 10px">
            </div>   
        {{/each}}    
    {{else}}
        <p>No images found</p>
    {{/if}}        
</body>
</html>
